.section {
  margin-bottom: 100px;
}

.section__wrapper {
  display: flex;
  justify-content: space-around;
  background: #242565;
  box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
  border-radius: 20px;
  position: relative;
  top: -70px;
}
.section__input {
  max-width: 290px;
  &-search {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-top: 30px;
  }
}
.section__input-input {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  border: none;
  border-bottom: 1px solid #7778b0;
  background-color: inherit;
  margin-bottom: 45px;
}
