.brands {
  text-align: center;
  margin-bottom: 150px;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-img{
        padding-right: 30px;
    }
  }
}
.brands-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #242565;
  margin-bottom: 22px;
}

.brands-text {
  max-width: 600px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #6a6a6a;
}
